/* Text sizings */
h5, em, a, p { margin: 0; }

em, h5 {
  font-size: var(--t-lg);
  line-height: 24px;
}

button, input {
  font-size: var(--t-md);
  line-height: 24px;
}

a {
  font-size: var(--t-sm);
  font-weight: 400;
}

p {
  font-size: var(--t-rg);
  font-weight: 400;
  line-height: 20px;
}


em { font-weight: 700; font-style: initial; }
h5, button { font-weight: 600; }

/* Text colors */
h5, button {
  color: var(--black);
}

p {
  color: var(--grey);
}

em, a {
  color: var(--primary);
}

button, input {
  width: 100%;
  display: block;
  min-height: 48px;
  border-radius: 4px;
}

input {
  width: calc(100% - 32px);
  padding: 0 16px;
  background-color: var(--light);
  color: var(--black);
  outline: none;
  margin-left: -1px;
  border: 1px solid var(--white);
}

input::placeholder {
  color: var(--grey);
}

input:focus {
  border: 1px solid var(--primary);
}

button {
  color: var(--black);
  background-color: var(--light);
}

.btn--primary {
  color: var(--white);
  background-color: var(--primary);
}

/* Body styles */
body {
  border-radius: 8px;
  min-width: 328px;
  max-width: 328px;
  text-align: center;
  padding: 16px;
}

/* Spacing */
h5 { margin: 32px 0 8px; }
h6 { margin: 24px 0 4px; }

input, button { margin-bottom: 8px; }
.commentable p + form,
.commentable a + button,
.commentable a + p,
.commentable button + p { margin-top: 32px; }
a { margin: 0 8px; }

.commentable ul {
  margin: 6px 0;
  padding: 0;
}

.commentable li {
  position: relative;
  margin: 0;
  padding: 8px 0;
  text-align: left;
  border-bottom: 1px solid var(--light-darken);
}

.commentable li a {
  margin: 0;
  line-height: 20px;
}

.commentable a svg {
  margin-bottom: -1px;
  margin-right: 6px;
}

.commentable li:last-child {
  border-bottom: 0;
}
