.root__Y29tbWVudGFibGUx .bubble {
  position: absolute;

  margin-left: -16px;
  margin-top: -16px;

  width: 32px;
  height: 32px;
  border-radius: 50%;

  background-color: var(--primary);
  border: 8px solid var(--white);
  box-sizing: border-box;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
}

.root__Y29tbWVudGFibGUx .bubble:hover {
  cursor: pointer;
}

.root__Y29tbWVudGFibGUx .bubble--resolved {
  background-color: var(--primary-faded);
}
