.root__Y29tbWVudGFibGUx .checkbox {
  display: block;
}

.root__Y29tbWVudGFibGUx .checkbox__check {
  transition: background-color 0.1s ease-in-out;
}

.root__Y29tbWVudGFibGUx .checkbox__check svg {
  transition: stroke 0.1s ease-in-out;
}

.root__Y29tbWVudGFibGUx .checkbox input {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.root__Y29tbWVudGFibGUx .checkbox > div {
  width: 100%;
  display: inline-flex;
  align-items: center;
  text-align: left;
}

.root__Y29tbWVudGFibGUx .checkbox__check + div {
  width: 100%;
}

.root__Y29tbWVudGFibGUx .checkbox__check
{
  margin-right: 8px;
  border: 2px solid var(--white);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--light);
}

.root__Y29tbWVudGFibGUx .checkbox__check {
  background-color: var(--light);
}

.root__Y29tbWVudGFibGUx .checkbox__check svg {
  stroke: var(--light);
}

.root__Y29tbWVudGFibGUx .checkbox__check:hover {
  cursor: pointer;
  background-color: var(--light-darken);
}

.root__Y29tbWVudGFibGUx .checkbox__check:hover svg {
  stroke: var(--light-darken);
}

.root__Y29tbWVudGFibGUx .checkbox__check:active {
  border-color: var(--white);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
}


.root__Y29tbWVudGFibGUx .checkbox__check svg {
  padding: 4px;
  width: 24px;
  height: 24px;
  display: block;
}

.root__Y29tbWVudGFibGUx .checkbox input:checked + div .checkbox__check
{
  background-color: var(--primary);
}

.root__Y29tbWVudGFibGUx .checkbox input:checked + div .checkbox__check:hover
{
  background-color: var(--primary-darken);
}

.root__Y29tbWVudGFibGUx .checkbox input:checked + div .checkbox__check svg {
  stroke: var(--white);
}
