.commentable .commentcard {
  position: relative;
  min-width: 320px;
}

.commentable .commentcard__resolved {
  font-size: var(--t-sm);
  color: var(--grey);
  margin-top: 24px;
  margin-bottom: 8px;
}

.commentable .commentcard__comment--resolved {
  opacity: 0.5;
}

.commentable .commentcard__comment + input,
.commentable .commentcard__comment + form
{
  margin-top: 20px;
}

.commentable .commentcard > form:first-child > input:first-child
{
  margin-top: 0;
}

.commentable .commentcard form button
{
  margin-top: 8px;
}

.commentable .commentcard__resolve {
  z-index: 20;
  line-height: 20px;
  font-size: var(--t-rg);
  color: var(--primary);
  position: absolute;
  top: 4px;
  right: 32px;
  padding-top: 12px;
  text-decoration: none;
}

.commentable .commentcard__more {
  top: 14px;
  right: 6px;
  z-index: 20;
  position: absolute;
  height: 16px;
  padding: 4px 6px;
  transition: color 0.2s ease-in-out;
  color: var(--grey);
}

.commentable .commentcard__more__content {
  width: 120px;
  position: absolute;
  right: -100px;
  top: 16px;
  z-index: 400;
}

.commentable .commentcard__more:hover {
  cursor: pointer;
  color: var(--primary);
}

.commentable .commentcard__resolve svg {
  margin-bottom: -2px;
  margin-right: 6px;
}
