.commentable input,
.commentable .editor
{
  display: block;
  min-height: 48px;
  border-radius: 4px;

  width: calc(100% - 32px);
  padding: 0 16px;
  background-color: var(--light);
  color: var(--black);

  border: 1px solid var(--white);
  outline: none;
}

.commentable .editor { padding: 16px; }

.commentable input::placeholder {
  color: var(--grey);
}

.commentable input:focus,
.commentable .editor--focus
{
  border: 1px solid var(--primary);
}
