.commentable input {
  display: block;
  height: 48px;
  border-radius: 4px;

  width: calc(100% - 32px);
  padding: 0 16px;
  background-color: var(--light);
  color: var(--black);

  border: none;
  outline: none;
}

.commentable input::placeholder {
  color: var(--grey);
}
