.root__Y29tbWVudGFibGUx input,
.root__Y29tbWVudGFibGUx .editor
{
  display: block;
  min-height: 48px;
  border-radius: 4px;

  width: 100%;
  box-sizing: border-box;

  padding: 0 16px;
  background-color: var(--light);
  color: var(--black);

  border: 1px solid var(--white);
  outline: none;
}

.root__Y29tbWVudGFibGUx .editor {
  padding: 16px;
  min-height: auto;
}

.root__Y29tbWVudGFibGUx input::placeholder {
  color: var(--grey);
}

.root__Y29tbWVudGFibGUx input:focus,
.root__Y29tbWVudGFibGUx .editor--focus
{
  border: 1px solid var(--primary);
}

.root__Y29tbWVudGFibGUx .editor {
  position: relative;
  cursor: text;
}

.root__Y29tbWVudGFibGUx .editor span {
  font-size: var(--t-rg);
}

.root__Y29tbWVudGFibGUx .editor .public-DraftEditorPlaceholder-root {
  color: var(--grey);
  position: absolute;
}

.root__Y29tbWVudGFibGUx .editor .editor__mention {
  color: var(--primary);
  font-size: var(--t-rg);
}
