.commentable img.pimg {
  border-radius: 50%;
  margin-right: 8px;

  width: 32px;
  height: 32px;
}

.commentable img.pimg--sm {
  width: 24px;
  height: 24px;
}

.commentable img.pimg-- {
  width: 48px;
  height: 48px;
}
