.root__Y29tbWVudGFibGUx .toggle {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 37px;
}

.root__Y29tbWVudGFibGUx .toggle,
.root__Y29tbWVudGFibGUx .toggle__slider,
.root__Y29tbWVudGFibGUx .toggle__slider:before
{
  transition: .4s;
}

.root__Y29tbWVudGFibGUx .toggle input { display: none; }

.root__Y29tbWVudGFibGUx .toggle__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 24px;

  background-color: var(--light);

  cursor: pointer;
}

.root__Y29tbWVudGFibGUx .toggle__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 6px;
  bottom: 6px;

  background-color: var(--primary);
}

.root__Y29tbWVudGFibGUx .toggle:hover .toggle__slider:before {
  background-color: var(--primary-darken);
}


.root__Y29tbWVudGFibGUx .toggle input:checked + .toggle__slider
{
  background-color: var(--primary);
}

.root__Y29tbWVudGFibGUx .toggle input:checked + .toggle__slider:before
{
  transform: translateX(34px);
  background-color: var(--white);
}


.root__Y29tbWVudGFibGUx .toggle:hover input:checked + .toggle__slider:before
{
  background-color: var(--light);
}
