:root {
  --primary: #ff3d46;
  --primary-darken: #EE1A24;
  --primary-faded: #fecdd0;
  --light: #f5f5f5;
  --light-darken: #ebebeb;

  --black: #000;
  --white: #fff;
  --grey: #666;
  --lightgrey: #b2b2b2;

  --t-sm: 12px;
  --t-rg: 14px;
  --t-md: 16px;
  --t-lg: 20px;
}

.commentable ul {
  list-style: none;
  margin: -6px 0;
}

.commentable li {
  margin: 6px 0;
}

.commentable * {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}

.commentable h1,
.commentable h2,
.commentable h3,
.commentable h4,
.commentable h5,
.commentable h6
{
  font-weight: 600; color: var(--black);
}

.commentable h1 { font-size: 48px; line-height: 56px; }
.commentable h2 { font-size: 40px; line-height: 48px; }
.commentable h3 { font-size: 32px; line-height: 40px; }
.commentable h4 { font-size: 24px; line-height: 32px; }

/** Body text styling */
.commentable .t,
.commentable p
{
  font-size: var(--t-rg);
  line-height: 20px;
  margin: 0;
  color: var(--black);
}
.commentable .t__xs,
.commentable .t__xs .l { font-size: var(--t-sm); }
.commentable .t__sm { font-size: var(--t-rg); }
.commentable .t__xs, .commentable .t__sm
{
  line-height: 16px;
}

.commentable h5,
.commentable .t__lg
{
  font-size: var(--t-lg);
  line-height: 24px;
}
.commentable h6,
.commentable .t__md {
  font-size: var(--t-md);
  line-height: 20px;
}

.commentable h6 {
  text-align: left;
}

.commentable .t--bold { font-weight: 600; }
.commentable .t--light,
.commentable .t--grey-faded
{
  color: var(--lightgrey);
}

.commentable .t--grey { color: var(--grey); }
.commentable .t--primary { color: var(--primary); }
.commentable .t--primary-faded { color: var(--primary-faded); }

/** Link text styling */
.commentable a,
.commentable .l,
.commentable .l__md {
  font-size: var(--t-rg);
  line-height: 20px;
  color: var(--primary);

  /** Need important to get rid of plugin inline styles specificity */
  text-decoration: none !important;
}

.commentable .t__snippet {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.commentable a,
.commentable a *,
.commentable .l * {
  text-decoration: none;
}

.commentable a:hover,
.commentable .l:hover,
.commentable .l__sm:hover,
.commentable .l__md:hover,
.commentable .l__lg:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--primary);
}

.commentable a,
.commentable a:visited,
.commentable .l--primary,
.commentable a.l--primary:visited
{
  /** Need important to get rid of plugin inline styles specificity */
  color: var(--primary) !important;
}

.commentable .l--secondary,
.commentable a.l--secondary:visited
{
  /** Need important to get rid of plugin inline styles specificity */
  color: var(--grey) !important;
}
.commentable a.l--secondary:hover {
  color: var(--primary) !important;
  border-bottom-color: var(--primary);
}

.commentable .l.l--embed,
.commentable .l.l--embed:visited
{
  padding: 1px 4px;
  background-color: var(--light);
  /** Need important to get rid of plugin inline styles specificity */
  color: var(--grey) !important;
  border-bottom: 1px solid var(--grey);
}

.commentable .l.l--embed--light {
  padding: 0;
},

.commentable .l.l--embed:hover
{
  color: var(--primary) !important;
  border-bottom-color: var(--primary);
}


.commentable .l__lg { font-size: var(--t-md); line-height: 24px; }
.commentable .l__sm { font-size: var(--t-sm); line-height: 16px; }

.commentable hr {
  background-color: var(--light);
  height: 1px;
  border: 0;
  margin: 20px auto;
}
